* {
  margin: 0px;
  text-decoration: none;
  font-family: 'Dosis', sans-serif;
  font-family: 'Leckerli One', cursive;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden; }

body {
  background-color: #000000; }

.menu {
  display: flex;
  align-items: center;
  background-color: #000000d0;
  height: 80px; }
  .menu .menu__logo .logo__nav {
    color: #ffffff;
    font-size: 50px;
    font-family: 'Dosis', sans-serif;
    font-family: 'Leckerli One', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Sassy Frass', cursive;
    transition: 0.75s; }
  .menu .menu__logo .logo__nav:hover {
    color: #F4d79b; }
  .menu .menu__links {
    display: flex;
    justify-content: end; }
    .menu .menu__links .links__nav {
      color: #ffffff;
      font-size: 20px;
      text-decoration: none;
      margin-left: 16px;
      transition: 0.75s; }
    .menu .menu__links .links__nav:hover {
      color: #F4d79b; }

.menu__chico {
  display: none;
  justify-content: center;
  background-color: #000000d0;
  height: 80px; }
  .menu__chico .chico__logo {
    display: flex;
    justify-content: center;
    width: 100%; }

.menu__interior {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000d0; }
  .menu__interior .menu__logoInterior {
    display: flex;
    align-items: center;
    justify-content: center; }
    .menu__interior .menu__logoInterior .logo__navChico {
      color: #ffffff;
      font-size: 50px;
      font-family: 'Dosis', sans-serif;
      font-family: 'Leckerli One', cursive;
      font-family: 'Playfair Display', serif;
      font-family: 'Quicksand', sans-serif;
      font-family: 'Sassy Frass', cursive;
      transition: 0.75s; }
    .menu__interior .menu__logoInterior .logo__navChico:hover {
      color: #F4d79b; }

.menu__linksInterior {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .menu__linksInterior .links__navInterior {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    margin-left: 16px;
    transition: 0.75s;
    margin-bottom: 20px; }
  .menu__linksInterior .links__navInterior:hover {
    color: #F4d79b; }

.footer {
  border-top-style: solid;
  border-top-color: #F4d79b;
  border-top-width: 0.5px; }
  .footer .footer__subtitulo {
    text-align: center;
    color: #ffffff;
    margin-top: 40px; }
  .footer .redes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: visible; }
    .footer .redes .redes__ig {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: visible; }
    .footer .redes .redes__wp {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: visible; }
    .footer .redes .redes__fb {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: visible; }
    .footer .redes .redes__mail {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: visible; }
    .footer .redes .redes__logo {
      transition: 00.75s;
      overflow: visible; }
    .footer .redes .redes__logo:hover {
      transform: scale(1.1);
      overflow: visible; }
    .footer .redes .redes__texto {
      color: #ffffff;
      font-style: none;
      text-decoration: none;
      font-size: 20px;
      margin-top: 20px;
      transition: 0.75s; }
    .footer .redes .redes__texto:hover {
      color: #F4d79b; }

.index__fondo {
  background-image: url("../images/fondo2.jpg");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .index__fondo .index__titulo {
    font-family: 'Dosis', sans-serif;
    font-family: 'Sassy Frass', cursive;
    font-size: 150px;
    color: #000000;
    text-align: center; }
  .index__fondo .index__subtitulo {
    font-size: 45px;
    overflow-y: hidden;
    color: #000000;
    text-align: center; }
  .index__fondo .index__boton {
    margin-top: 20px;
    font-size: 35px;
    color: #000000;
    text-decoration: none;
    border-style: solid;
    border-width: 0.5px;
    border-color: #000000;
    transition: 0.75s; }
  .index__fondo .index__boton:hover {
    color: #ffffff;
    background-color: #000000d0;
    border-color: #ffffff; }

.section__texto {
  text-align: center;
  color: #ffffff;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 22px; }

.obras__titulo {
  color: #ffffff;
  font-size: 45px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  overflow-y: hidden; }

.cartas {
  margin-top: 20px;
  margin-bottom: 20px; }
  .cartas .carta {
    border-color: #000000; }
    .cartas .carta .carta__contenido {
      background-color: #000000; }
      .cartas .carta .carta__contenido .contenido__fuente {
        text-align: center;
        color: #ffffff;
        font-size: 27px;
        overflow-y: hidden; }
        .cartas .carta .carta__contenido .contenido__fuente .obras__boton {
          margin-top: 20px;
          text-align: center;
          font-size: 22px;
          color: #ffffff;
          background-color: #000000d0;
          border-color: #ffffff;
          text-decoration: none;
          border-style: solid;
          border-width: 0.5px;
          transition: 0.75s; }
        .cartas .carta .carta__contenido .contenido__fuente .obras__boton:hover {
          color: #000000;
          background-color: #ffffff; }

.inspiracion__titulo {
  color: #ffffff;
  font-size: 45px;
  margin-top: 100px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  overflow-y: hidden; }

.acordeon {
  margin-top: 30px;
  background-color: #000000; }
  .acordeon .acordeon__column {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .acordeon .acordeon__boton {
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #ffffff; }
  .acordeon .acordeon__texto {
    color: #ffffff;
    font-size: 18px; }
  .acordeon .acordeon__subtitulo {
    color: #ffffff; }

.imagen {
  border-radius: 3px; }

.inspiracion__subtitulo {
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  overflow-y: hidden; }

.procesos__subtitulo {
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 25px; }

.proceso {
  display: flex;
  justify-content: center; }
  .proceso .proceso__forma {
    width: 40%; }

.contacto__titulo {
  margin-top: 100px;
  color: #ffffff;
  text-align: center;
  overflow-y: hidden; }

.contacto__subtitulo {
  color: #ffffff;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  overflow-y: hidden; }

.contacto__redes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 40px; }
  .contacto__redes .contacto__ig {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible; }
  .contacto__redes .contacto__wp {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible; }
  .contacto__redes .contacto__fb {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible; }
  .contacto__redes .contacto__mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible; }
  .contacto__redes .contacto__logo {
    transition: 00.75s;
    overflow: visible; }
  .contacto__redes .contacto__logo:hover {
    transform: scale(1.1);
    overflow: visible; }
  .contacto__redes .contacto__texto {
    color: #ffffff;
    font-style: none;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.75s;
    overflow-y: hidden; }
  .contacto__redes .contacto__texto:hover {
    color: #F4d79b; }

@media (max-width: 850px) {
  .redes__texto {
    display: none; }
  .index__titulo {
    font-size: 100px; }
  .index__subtitulo {
    font-size: 35px; } }

@media (max-width: 800px) {
  .contacto__redes {
    flex-direction: column;
    align-items: center; }
    .contacto__redes .contacto__ig {
      margin-bottom: 40px; }
    .contacto__redes .contacto__wp {
      margin-bottom: 40px; }
    .contacto__redes .contacto__fb {
      margin-bottom: 40px; }
    .contacto__redes .contacto__mail {
      margin-bottom: 40px; } }

@media (max-width: 760px) {
  .menu__chico {
    display: flex; }
  .menu {
    display: none; } }

@media (max-width: 550px) {
  .redes {
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 0px;
    overflow: visible; }
    .redes .redes__ig {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: visible; }
    .redes .redes__wp {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: visible; }
    .redes .redes__fb {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: visible; }
    .redes .redes__mail {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: visible; }
    .redes .redes__texto {
      display: inline;
      margin-bottom: 40px; }
  .index__titulo {
    font-size: 60px; }
  .index__subtitulo {
    font-size: 25px; } }
