//PALETA DE COLORES

$blanco: #ffffff;
$blancoTrasparente: #ffffff50;
$negro: #000000;
$negroTransparente: #000000d0;
$gris: #5e5e5e;
$verdeManzana: #a2ff28;
$dorado: #F4d79b;

//GENERAL

* {
    margin: 0px;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-family: 'Leckerli One', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}

body {
    background-color: $negro;
}

//HEADER

.menu {
    display: flex;
    align-items: center;
    background-color: $negroTransparente;
    height: 80px;

    .menu__logo {
        .logo__nav {
            color: $blanco;
            font-size: 50px;
            font-family: 'Dosis', sans-serif;
            font-family: 'Leckerli One', cursive;
            font-family: 'Playfair Display', serif;
            font-family: 'Quicksand', sans-serif;
            font-family: 'Sassy Frass', cursive;
            transition: 0.75s;
        }

        .logo__nav:hover {
            color: $dorado;
        }
    }

    .menu__links {
        display: flex;
        justify-content: end;

        .links__nav {
            color: $blanco;
            font-size: 20px;
            text-decoration: none;
            margin-left: 16px;
            transition: 0.75s;
        }

        .links__nav:hover {
            color: $dorado;
        }
    }
}

.menu__chico {
    display: none;
    justify-content: center;
    background-color: $negroTransparente;
    height: 80px;
    .chico__logo{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

.menu__interior {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $negroTransparente;

    .menu__logoInterior {
        display: flex;
        align-items: center;
        justify-content: center;

        .logo__navChico {
            color: $blanco;
            font-size: 50px;
            font-family: 'Dosis', sans-serif;
            font-family: 'Leckerli One', cursive;
            font-family: 'Playfair Display', serif;
            font-family: 'Quicksand', sans-serif;
            font-family: 'Sassy Frass', cursive;
            transition: 0.75s;
        }

        .logo__navChico:hover {
            color: $dorado;
        }
    }
}

.menu__linksInterior {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .links__navInterior {
        color: $blanco;
        font-size: 20px;
        text-decoration: none;
        margin-left: 16px;
        transition: 0.75s;
        margin-bottom: 20px;
    }

    .links__navInterior:hover {
        color: $dorado;
    }
}

//FOOTER}

.footer {
    border-top-style: solid;
    border-top-color: $dorado;
    border-top-width: 0.5px;

    .footer__subtitulo {
        text-align: center;
        color: $blanco;
        margin-top: 40px;
    }

    .redes {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
        overflow: visible;

        .redes__ig {
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: visible;
        }

        .redes__wp {
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: visible;
        }

        .redes__fb {
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: visible;
        }

        .redes__mail {
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: visible;
        }

        .redes__logo {
            transition: 00.75s;
            overflow: visible;
        }

        .redes__logo:hover {
            transform: scale(1.10);
            overflow: visible;
        }

        .redes__texto {
            color: $blanco;
            font-style: none;
            text-decoration: none;
            font-size: 20px;
            margin-top: 20px;
            transition: 0.75s;
        }

        .redes__texto:hover {
            color: $dorado;
        }
    }
}

//INDEX

.index__fondo {
    background-image: url("../images/fondo2.jpg");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .index__titulo {
        font-family: 'Dosis', sans-serif;
        font-family: 'Sassy Frass', cursive;
        font-size: 150px;
        color: $negro;
        text-align: center;
    }

    .index__subtitulo {
        font-size: 45px;
        overflow-y: hidden;
        color: $negro;
        text-align: center;
    }

    .index__boton {
        margin-top: 20px;
        font-size: 35px;
        color: $negro;
        text-decoration: none;
        border-style: solid;
        border-width: 0.5px;
        border-color: $negro;
        transition: 0.75s;
    }

    .index__boton:hover {
        color: $blanco;
        background-color: $negroTransparente;
        border-color: $blanco;
    }
}

.section__texto {
    text-align: center;
    color: $blanco;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 22px;
}

.obras__titulo {
    color: $blanco;
    font-size: 45px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
}

.cartas {
    margin-top: 20px;
    margin-bottom: 20px;

    .carta {
        border-color: $negro;

        .carta__contenido {
            background-color: $negro;

            .contenido__fuente {
                text-align: center;
                color: $blanco;
                font-size: 27px;
                overflow-y: hidden;

                .obras__boton {
                    margin-top: 20px;
                    text-align: center;
                    font-size: 22px;
                    color: $blanco;
                    background-color: $negroTransparente;
                    border-color: $blanco;
                    text-decoration: none;
                    border-style: solid;
                    border-width: 0.5px;
                    transition: 0.75s;
                }

                .obras__boton:hover {
                    color: $negro;
                    background-color: $blanco;
                }
            }
        }
    }
}

.inspiracion__titulo {
    color: $blanco;
    font-size: 45px;
    margin-top: 100px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
}

.acordeon {
    margin-top: 30px;
    background-color: $negro;

    .acordeon__column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .acordeon__boton {
        background-color: $negro;
        color: $blanco;
        font-size: 20px;
        border-style: solid;
        border-width: 0.5px;
        border-color: $blanco;
    }

    .acordeon__texto {
        color: $blanco;
        font-size: 18px;
    }

    .acordeon__subtitulo {
        color: $blanco;
    }
}

.imagen {
    border-radius: 3px;
}

.inspiracion__subtitulo {
    text-align: center;
    font-size: 30px;
    color: $blanco;
    overflow-y: hidden;
}

.procesos__subtitulo {
    text-align: center;
    font-size: 25px;
    color: $blanco;
    margin-top: 30px;
    margin-bottom: 25px;
}

.proceso {
    display: flex;
    justify-content: center;

    .proceso__forma {
        width: 40%;
    }
}

.contacto__titulo {
    margin-top: 100px;
    color: $blanco;
    text-align: center;
    overflow-y: hidden;
}

.contacto__subtitulo {
    color: $blanco;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    overflow-y: hidden;
}

.contacto__redes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 40px;

    .contacto__ig {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: visible;
    }

    .contacto__wp {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: visible;
    }

    .contacto__fb {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: visible;
    }

    .contacto__mail {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: visible;
    }

    .contacto__logo {
        transition: 00.75s;
        overflow: visible;
    }

    .contacto__logo:hover {
        transform: scale(1.10);
        overflow: visible;
    }

    .contacto__texto {
        color: $blanco;
        font-style: none;
        text-decoration: none;
        font-size: 20px;
        margin-top: 20px;
        transition: 0.75s;
        overflow-y: hidden;
    }

    .contacto__texto:hover {
        color: $dorado;
    }
}

@media (max-width:850px) {
    .redes__texto {
        display: none;
    }

    .index__titulo {
        font-size: 100px;
    }

    .index__subtitulo {
        font-size: 35px;
    }
}
@media (max-width:800px){
    .contacto__redes{
        flex-direction: column;
        align-items: center;
        .contacto__ig {
            margin-bottom: 40px;
        }
    
        .contacto__wp {
            margin-bottom: 40px;
        }
    
        .contacto__fb {
            margin-bottom: 40px;
        }
    
        .contacto__mail {
            margin-bottom: 40px;
        }
    }
}
@media (max-width:760px) {
    .menu__chico{
        display: flex;
    }
    .menu{
        display: none;
    }
}
@media (max-width:550px) {
    .redes {
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 0px;
        overflow: visible;

        .redes__ig {
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: visible;
        }

        .redes__wp {
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: visible;
        }

        .redes__fb {
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: visible;
        }

        .redes__mail {
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: visible;
        }

        .redes__texto {
            display: inline;
            margin-bottom: 40px;
        }
    }

    .index__titulo {
        font-size: 60px;
    }

    .index__subtitulo {
        font-size: 25px;
    }
}