//PALETA DE COLORES

$blanco: #ffffff;
$blancoTrasparente: #ffffff50;
$negro: #000000;
$negroTransparente: #00000096;
$gris: #5e5e5e;
$verdeManzana: #a2ff28;
$dorado: #F4d79b;

//GENERAL

*{
    margin: 0px;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-family: 'Leckerli One', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Quicksand', sans-serif;
}
body{
    background-color: $negro;
}

//HEADER

.menu{
    display: flex;
    align-items: center;
    background-color: $negroTransparente;
    height: 80px;
    border-bottom-style: solid;
    border-bottom-color: $dorado;
    border-bottom-width: 0.5px;
    .menu__logo{
        .logo__nav{
            color: $blanco;
            font-size: 50px;
            font-family: 'Dosis', sans-serif;
            font-family: 'Leckerli One', cursive;
            font-family: 'Playfair Display', serif;
            font-family: 'Quicksand', sans-serif;
            font-family: 'Sassy Frass', cursive;
            transition: 0.75s;
        }
        .logo__nav:hover{
            color: $dorado;
        }
    }
    .menu__links{
        display: flex;
        justify-content: end;
        .links__nav{
            color: $blanco;
            font-size: 20px;
            text-decoration: none;
            margin-left: 16px;
            transition: 0.75s;
        }
        .links__nav:hover{
            color: $dorado;
        }
    }
}

//FOOTER}

.footer{
    border-top-style: solid;
    border-top-color: $dorado;
    border-top-width: 0.5px;
    .footer__subtitulo{
        text-align: center;
        color: $blanco;
        margin-top: 40px;
    }
    .redes{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
        .redes__ig{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .redes__wp{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .redes__fb{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .redes__mail{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .redes__logo{
            transition: 00.75s;
        }
        .redes__logo:hover{
            transform: scale(1.10);
        }
        .redes__texto{
            color: $blanco;
            font-style: none;
            text-decoration: none;
            font-size: 20px;
            margin-top: 20px;
            transition: 0.75s;
        }
        .redes__texto:hover{
            color: $dorado;
        }
    }
}

//INDEX

.home__carrusel{
    padding: 0px;
    margin: 0px;
    margin-top: 80px;
    .carrusel__titulo{
        position: sticky;
        .titulo__fuente{
            font-family: 'Dosis', sans-serif;
            font-family: 'Leckerli One', cursive;
            font-family: 'Playfair Display', serif;
            font-family: 'Quicksand', sans-serif;
            font-family: 'Sassy Frass', cursive;
            font-size: 60px;
        }
    }
    .carrusel__letra{
        font-size: 50px;
        color: $negro;
        text-decoration: none;
        border-style: solid;
        border-color: $negro;
        transition: 0.75s;
    }
    .carrusel__letra:hover{
        color: $blanco;
        background-color: $negroTransparente;
        border-color: $blanco;
    }
}
.section__texto{
    text-align: center;
    color: $blanco;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 25px;
}
.index__subtitulo{
    text-align: center;
    color: $blanco;
}
.index__ambiente{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 40px;
    .ambiente1{
        width: 40%;
        display: flex;
        justify-content: center;
    }
    .ambiente2{
        width: 60%;
        display: flex;
        justify-content: center;
    }
}